*{
	box-sizing: border-box;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 10px; 
}